html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}

#main-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

#game-navbar {
  background-color: var(--main-background-color);
  color: var(--brand-title-color);

  height: 10%;
  font-size: 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#brand-title {
  text-shadow: 0 7px 5px rgba(221, 221, 221, 0.40);
  font-family: League Spartan, sans-serif;
  font-size: 5rem;
  font-style: normal;
  line-height: normal;
}

#game-screen {
  height: 90%;
  background-image: url("/images/game-screen-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#game-section-container {
  width: 60%;
  margin: 1%;
  display: flex;
  justify-content: center;
}

#game-section {
  background-color: #000000b6;
  height: 100%;
  width: 37%;
  background-image: url("/images/gameblocks.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

#game-information {
  height: 100%;
  width: 40%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.data-container {
  background-color: #000000b6;
  border-radius: 5%;
  width: 50%;
  margin: 1%;
}

#first-data-container {
  height: 40%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

#current-game-time {
  text-align: center;
  font-family: League Spartan, sans-serif;
  font-size: 2rem;
  color: #FFF;
}

#next-piece {
  width: 100%;
}

#lines-eliminated {
  text-align: center;
  font-family: League Spartan, sans-serif;
  font-size: 1.5rem;
  color: #FFF;
}

#second-data-container {
  height: 60%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

  font-family: League Spartan, sans-serif;
  color: #FFF;
}

#current-score {
  text-align: center;
  font-family: League Spartan, sans-serif;
  font-size: 3.5rem;
}


#current-game-difficulty {
  font-weight: bold;
  font-family: League Spartan, sans-serif;
  font-size: 1.2rem;
}

#player-ranking-list {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.player-position {
  width: 80%;
  height: 15%;

  margin: 10px 0;
  padding-left: 10px;

  border-radius: 15px;
  background-color: var(--default-player-ranking);
  font-size: 1.8rem;
  font-weight: 500;

  display: flex;
  align-items: center;
}

#current-player-position {
  background-color: var(--current-player-ranking);
}

#game-mode {
  text-shadow: 0 7px 5px rgba(221, 221, 221, 0.40);
  font-family: League Spartan, sans-serif;
  font-size: 1rem;
  text-align: justify;
  position: relative;
}
