html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}

#main-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

#game-navbar {
  background-color: var(--main-background-color);
  color: var(--brand-title-color);

  height: 10%;
  font-size: 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#game-navbar a {
  text-decoration: none;
  color: var(--brand-title-color);
}

#brand-title {
  text-shadow: 0 7px 5px rgba(221, 221, 221, 0.40);
  font-family: League Spartan, sans-serif;
  font-size: 5rem;
  font-style: normal;
  line-height: normal;
}

#game-screen {
  height: 90%;
  background-image: url("/images/game-screen-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#game-section-container {
  width: 60%;
  margin: 1%;
  display: flex;
  justify-content: center;
}

#game-section {
  background-color: var(--default-container-background-color);
  height: 100%;
  width: 35%;
  background-image: url("/images/gameblocks.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

#game-information {
  height: 100%;
  width: 40%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.data-container {
  background-color: var(--default-container-background-color);
  border-radius: 5%;
  width: 50%;
  margin: 1%;
}

#first-data-container {
  height: 40%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

#current-game-time {
  text-align: center;
  font-family: League Spartan, sans-serif;
  font-size: 2rem;
  color: var(--secondary-title-color);
}

#next-piece {
  width: 80%;
}

#lines-eliminated {
  text-align: center;
  font-family: League Spartan, sans-serif;
  font-size: 1.5rem;
  color: var(--secondary-title-color);
}

#second-data-container {
  height: 60%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

  font-family: League Spartan, sans-serif;
  color: var(--secondary-title-color);
}

#current-score {
  text-align: center;
  font-family: League Spartan, sans-serif;
  font-size: 3.5rem;
  color: var(--secondary-title-color);
}


#current-game-difficulty {
  font-weight: bold;
  font-family: League Spartan, sans-serif;
  font-size: 1.2rem;
  color: var(--secondary-title-color);
}

#player-ranking-list {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow: auto;
}

.player-position {
  width: 80%;
  height: 10%;
  max-height: 10%;

  margin: 10px;

  border-radius: 15px;
  background-color: var(--default-player-ranking);
  font-size: 1rem;
  font-weight: 500;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
}

.player-position > p {
  margin: 0;
  display: grid;
  text-align: center;

  align-items: center;
  justify-self: center;
  align-self: center;
  width: 100%;
}

#username {
  color: var(--secondary-title-color);
  text-align: center;
  font-family: League Spartan, sans-serif;
  font-size: 2rem;
}

#current-player-position {
  background-color: var(--current-player-ranking);
}

#game-mode {
  text-shadow: 0 7px 5px rgba(221, 221, 221, 0.40);
  font-family: League Spartan, sans-serif;
  font-size: 1rem;

  position: relative;
}

#ranking-table-header {
  width: 80%;
  height: 20%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;

  color: var(--secondary-title-color);
  text-align: center;
  font-family: League Spartan, sans-serif;
  font-size: 1.5rem;
}

#ranking-table-header > p {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;

  width: 33.3%;
}

@media screen and (max-width: 1155px) {

  #game-section {
    width: 45%;
  }

  .player-position {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 945px) {
  #game-section {
    width: 55%;
  }

  #current-score {
    font-size: 2.4rem;
  }

  .player-position {
    font-size: 1.1rem;
  }

  #game-mode {
    font-size: 0.8rem;
  }

}

@media screen and (max-width: 720px) {

  #game-section {
    width: 65%;
  }

  #game-mode {
    font-size: 0.6rem;
  }

  .player-position {
    font-size: 0.9rem;
  }
}
