@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700&display=swap');

:root {
  --main-background-color: #111;
  --brand-title-color: #fff;
  --main-title-color: #000;
  --secondary-title-color: #fff;
  --tertiary-title-color: #ddd;
  --form-input-text-color: #A6A6A6;
  --form-input-background-color: rgba(166, 166, 166, 0.15);
  --button-shadow-color: rgba(0, 0, 0, 0.5);
  --default-player-ranking: rgba(69, 78, 74, 0.637);
  --current-player-ranking: rgba(209, 14, 14);
  --default-container-background-color: #000000b6;
  --default-player-color: #18FF22;
  --default-text-shadow-color: rgba(221, 221, 221, 0.40);
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: League Spartan, sans-serif;
}

.game-navbar {
  background-color: var(--main-background-color);
  color: var(--brand-title-color);

  height: 10%;
  font-size: 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-navbar a {
  text-decoration: none;
  color: var(--brand-title-color);
}

.brand-title {
  color: var(--brand-title-color);
  text-shadow: 0 7px 5px var(--default-text-shadow-color);
  font-family: League Spartan, sans-serif;
  font-size: 5rem;
  font-style: normal;
  line-height: normal;
}
