html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}


#main-container {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 3fr;
}

#login-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#login-container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-title {
  color: var(--main-title-color);

  font-family: League Spartan, sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;

  line-height: normal;
}

#login-form-container {
  width: 70%;
}

#login-form {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-form > input {
  width: 100%;

  color: var(--form-input-text-color);
  font-family: League Spartan, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  border: var(--form-input-background-color);
  border-radius: 10px;
  background: var(--form-input-background-color);

  padding: 20px 10px 20px 10px;
  margin-bottom: 20px;
}

#login-button {
  display: flex;
  align-items: end;
  justify-content: space-evenly;
  text-decoration: none;
  background: var(--main-background-color);
  box-shadow: 0 4px var(--button-shadow-color);

  border: var(--main-background-color);
  border-radius: 20px;

  width: 100%;
  height: 100%;

  padding: 5px;
  margin-top: 30px;

  cursor: pointer;
}

#login-button:hover {
  box-shadow: 0 2px var(--button-shadow-color);
  transform: translateY(2px);
}

#login-button-text {
  color: var(--secondary-title-color);

  text-align: center;
  font-family: League Spartan, sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#login-button iconify-icon {
  text-decoration: none;
  color: var(--secondary-title-color);
  font-size: 50px;
}

#register-account-link {
  color: var(--main-title-color);

  font-family: League Spartan, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;

  margin-bottom: 90px;
}

#presentation-container {
  width: 100%;
  height: 100%;

  background: var(--main-background-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#brand-title {
  color: var(--brand-title-color);
  text-shadow: 0 7px 5px var(--default-text-shadow-color);

  font-family: League Spartan, sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 20px;
}

#home-page-game-image-container {
  margin-top: 0;
}

@media screen and (max-width: 1210px) {
  #main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  #login-button {
    width: 60%;
  }

  #register-account-link {
    margin: 30px 10px;
  }

  #presentation-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #home-page-game-image-container {
    justify-content: center;
    align-items: center;
  }
}