*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: League Spartan, sans-serif;
}

body{
  height: 100%;
  width: 100%;
}

#conteiner1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5%;
    font-size: 60px;
    
    background: var(--main-background-color);
    
    color: var(--brand-title-color);
}

#conteiner1 a{
    text-decoration: none;
    color: var(--brand-title-color);
}

#brand-title {
    text-shadow: 0 7px 5px rgba(221, 221, 221, 0.40);
    font-family: League Spartan, sans-serif;
    font-size: 60px;
    
    padding-left: 30%;
}

  
#name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

#name iconify-icon{
    font-size: 30px;
}

#conteiner2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 91.15vh;
    position: relative;
    background-image: url('../images/menu-screen-background.png'); 
    background-size: cover;
    background-position: center;
}



#options{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

 #options a {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 10px;
    padding-top: 5px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 50px;
    height: 50px;
    width: 700px;
    box-shadow: 0 4px var(--button-shadow-color);
    border-radius: 20px;
}

#options a:hover{
 box-shadow: 0 2px var(--button-shadow-color);
  transform: translateY(2px);
}

@media screen and (max-width: 785px) {
    #options a {
        width: 500px; 
    }
}

 


  

  
  

  