#ranking-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 80%;

  background-image: url('../images/backgrounds/firewatch-night.png');
  background-size: cover;
  background-position: center;
}

#ranking-back {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding-top: 7px;
  padding-bottom: 7px;

  width: 70%;
  height: 90%;

  background: rgba(0, 0, 0, 0.70);
}

#ranking-back h1 {
  flex-shrink: 0;

  color: var(--secondary-title-color);
  font-family: League Spartan, sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#ranking-table-header {
  width: 100%;
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#ranking-table-header > div {
  display: grid;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 0;

  width: 33.3%;
}

#ranking-back h3 {
  color: var(--secondary-title-color);
  font-family: League Spartan, sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#ranking-lines-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-shrink: 0;

  width: 80%;
  height: 90%;
}

#ranking-lines-box > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  color: var(--secondary-title-color);

  font-family: League Spartan, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  width: 100%;
  height: 80%;
}

.ranking-line {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;

  width: 100%;
  height: 20%;
  min-height: 36px;

  border-radius: 20px;
  background: rgba(69, 78, 74, 0.40);
}

.ranking-line p {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  text-align: center;
  justify-self: center;
  align-self: center;

  width: 33.3%;
}

.position-indicator {
  min-width: 36px;
  max-width: 36px;
  height: 36px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.your-max-score {
  color: var(--default-player-color);
}
