#main-container {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 3fr;
}

#presentation-container {
  width: 100%;
  height: 100%;

  background: var(--main-background-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#back-to-home-page-link-container {
  width: 100%;
}

#back-to-home-page-link {
  color: var(--secondary-title-color);

  font-family: League Spartan, sans-serif;
  font-size: 1.875rem; 
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: none;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  margin-top: 1.25rem;
  margin-left: 1.25rem;
}

#back-to-home-page-link iconify-icon {
  text-decoration: none;
  font-size: 1.0417rem;
  color: var(--secondary-title-color);
}

#register-game-image-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#register-game-image-container > img {
  width: 70%;
  height: 70%;
}

#register-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#register-title {
  color: var(--main-title-color);

  font-family: League Spartan, sans-serif;
  font-size: 3.75rem; 
  font-style: normal;
  font-weight: 700;

  line-height: normal;
}

#register-form-container {
  width: 50%;
}

#register-form {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--form-input-text-color);
}

#register-form > input {
  width: 100%;
  font-family: League Spartan, sans-serif;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  border: var(--form-input-background-color);
  border-radius: 10px;
  background: var(--form-input-background-color);

  padding: 1.25rem 0.625rem;
  margin-bottom: 1.25rem;
}

#register-button {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--main-background-color);
  box-shadow: 0 0.25rem var(--button-shadow-color);

  border: var(--main-background-color);
  border-radius: 1.25rem;

  width: 100%;
  height: 100%;

  padding-top: 0.3125rem;
  margin-top: 1.875rem;

  cursor: pointer;
}

#register-button:hover {
  box-shadow: 0 0.125rem var(--button-shadow-color);
  transform: translateY(0.125rem);
}

#register-button-text {
  color: var(--secondary-title-color);

  text-align: center;
  font-family: League Spartan, sans-serif;
  font-size: 3.25rem; 
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media screen and (max-width: 1280px) {
  #register-game-image-container > img {
    width: 90%; 
    height: auto; 
  }

  #register-form-container {
    width: 50%; 
  }

  #register-title {
    font-size: 3.25rem; 
  }

  #register-button {
    width: 100%;
    margin: 0.625rem;
  }
  
  #register-button-text {
    font-size: 2.25rem; 
  }
}

@media screen and (max-height: 800px){
  #main-container {
    grid-template-columns: 1fr;
  }

  #register-game-image-container > img {
    width: 30%; 
    height: 70%; 
  }

  #register-button {
    margin: 0.625rem;
  }
}
